body {
  background-color: rgb(120,120,140);
  font-family:sans-serif;
  padding: 0;
  margin:0;
}

h1 {
  text-align: center;
}

.file-drag {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  border: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 90%;
  margin-top: 3%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(160,120,120);
  box-shadow: 10px 10px rgb(120,80,80);
}

.info {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.votes {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

button {
  background-color: rgb(120,80,80);
  border: 0;
  color: white;
  cursor: pointer;
  height: 25px;
}

input {
  background-color: rgb(120,80,80);
  color: white;
  border: 0;
  border-bottom: 2px solid black;
  width: 90%;
  margin-left: 5%;
}

p {
  text-align: center;
}

.connect-btn {
  background-color: rgb(120,80,80);
  color: white;
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  display: flex;
}